
header{
	text-align:center;
}
body{
	background-image: url("../img/background.jpg");
	background-position: center;
	color:white;
	font-family:retro;
	width:1000px;
}

@font-face {
  font-family: retro;
  src: url(../font/font.ttf);
}

button{
	margin-left:430px;
	margin-top:50px;
}

.custum-container{
	width:1000px;
	height:1000px;
}

#roulette{
	margin-left:308px;
	margin-top: 50px;
	width:350px;
	height:350px;
	
	
}